@page
@model TWHelp.Areas.Forum.Pages.CreateTopicModel
@{
}

<div class="container-fluid">
    <div class="row" style="background-image: url('../images/topic-question.svg'); background-repeat: no-repeat; background-size: contain">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 mx-auto" >
            <div class="mx-3 my-5 px-3 py-5" >
                <div class="p-2" style="background-color: rgba(255, 255, 255, 0.7);">
                    <div class="text-center">
                        <h3>Create new topic</h3>
                    </div>
                    <div class="m-2">
                        <form method="post">
                            <div class="form-group d-flex">
                                <span asp-validation-for="Input.Title" style="color: red;"></span>
                                <span asp-validation-for="Input.Description" style="color: red;"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Title" for="exampleInputEmail1">Title</label>
                                <input asp-for="Input.Title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="How do you fight loneliness?">
                                <small id="emailHelp" class="form-text text-muted">Shortly summarize your problem.</small>
                            </div>
                            <div class="form-group">
                                <span asp-validation-for="Input.Description"></span>
                                <label asp-for="Input.Description" for="exampleInputPassword1">Detailed description</label>
                                <textarea asp-for="Input.Description" type="text" class="form-control" cols="40" rows="5" placeholder="Last days I've been feeling very lonely. How can I fight this problem."></textarea>
                                <small id="emailHelp" class="form-text text-muted">Describe your problem as detailed as you can. That's how more poeple understand how exactly they can help you.</small>
                            </div>
                            <button type="submit" class="btn btn-warning">Create</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>