@page
@model TWHelp.Areas.Forum.Pages.PostModel
@{
}

@section Header {
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
}

<style>
    .topic-page-link-button {
        border-radius: 40px;
        margin: 9px 10px;
        padding: 10px 10px;
        font-family: 'Poppins', sans-serif;
    }

        .topic-page-link-button > i {
            color: #8f8fa6;
        }

        .topic-page-link-button > i, .topic-page-link-button-active > i {
            font-size: 20px;
            margin: 0 10px 0 5px;
        }

    .topic-page-link-button-active {
        background-color: #f6f8ff;
        color: #6c4fff;
        border-radius: 40px;
        margin: 9px 10px;
        padding: 10px 10px;
        font-family: 'Poppins', sans-serif;
    }

    .topic-page-link-button:hover {
        background-color: #f2f0ff;
        color: #8f7fdb;
    }

    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Varela Round', sans-serif;
    }
</style>

<h1>@Model.Topic?.Title</h1>

<div class="container-fluid">
    <div class="m-sm-3 p-sm-3">
        <div class="row" style="">
            <div class="col-lg-3 d-none d-lg-block" style="border: 1px solid red;">
                <div class="d-flex flex-column">
                    <div>
                        <p class="topic-page-link-button"><i class="fas fa-cubes"></i> Ask question</p>
                    </div>

                    <div>
                        <p class="topic-page-link-button"><i class="fas fa-cubes"></i> All topics</p>
                    </div>

                    <div>
                        <p class="topic-page-link-button-active"><i class="fas fa-question-circle"></i> My questions</p>
                    </div>

                    <div>
                        <p class="topic-page-link-button"><i class="fas fa-envelope-open-text"></i> My messages <span class="badge badge-primary">in development</span></p>
                    </div>

                    <div>
                        <p class="topic-page-link-button"><i class="fas fa-users"></i> Psychologists</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9" style="background-color: blanchedalmond">
                <div class="col-sm-12 col-md-11 col-lg-10 mx-auto" style="background-color: aquamarine">
                    <div class="py-2">
                        <div class="my-2" style="background-color: lightyellow">
                            <h4 style="font-weight: 600;">Best way to export data in xml format and csv format</h4>
                        </div>
                        <div class="my-4" style="background-color: lightgoldenrodyellow">
                            <p>Im looking for the best way to let users export and download data in xml format</p>
                        </div>
                        <div class="my-4">
                            sds
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-11 col-lg-10 mx-auto">
                    <div class="py-2 mt-5 mb-3">
                        <h4>12 Answers</h4>
                    </div>
                    <hr />
                </div>

                @*@if (Model.Answers.Count == 0)
                {
                    <div class="col-sm-12 col-md-11 col-lg-10 mx-auto">
                        <div class="py-2">
                            <p>Unfortunately there're no answers for now</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12 col-md-11 col-lg-10 mx-auto">
                        @foreach (var answer in Model.Answers)
                        {
                            <div class="py-2">
                                <div class="my-4" style="background-color: lightgoldenrodyellow">
                                    <p>Im looking for the best way to let users export and download data in xml format</p>
                                </div>
                                <div class="my-4">
                                    sds
                                </div>
                            </div>
                        }

                    </div>
                }*@

                <div class="col-sm-12 col-md-11 col-lg-10 mx-auto">
                    <div class="py-2">
                        <div class="my-4" style="background-color: lightgoldenrodyellow">
                            <p>Im looking for the best way to let users export and download data in xml format</p>
                        </div>
                        <div class="my-4">
                            sds
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>