@page
@model TWHelp.Areas.Profiles.Pages.Psychologists.IndexModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-11 col-md-10 col-lg-8 mx-auto">
            <div class="my-5 py-5">
                <div>
                    <div class="text-center">
                        <h2>Psychologists page</h2>
                    </div>
                    <div>
                        <form class="d-flex justify-content-between"  onsubmit="searchForPsycoProfiles(event)" id="search-form">
                            <div class="col-9">
                                <input type="text" class="form-control" id="search-text" placeholder="John Johnson" list="psychoResults" oninput="autocompleteForPsychoProfiles()">
                                @*content for autocomplete*@
                                <datalist id="psychoResults">
                                </datalist>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-primary mb-2">Search</button>
                            </div>
                        </form>
                    </div>
                    
                </div>

                <div class="my-3 p-2">
                    <p class="font-weight-bold text-center">List of psychologists</p>
                    <div class="d-flex flex-column p-1 my-3" id="psycho-container" style="background-color: #f2f2f2">
                        @* add here content from js *@


                        <div id="psycho-div" class="m-2 p-2" style="background-color: white">
                            <div class="m-2 d-flex justify-content-between">
                                <h5>tets@gmail.com</h5>
                                <span class="badge badge-success p-2">Confirmed status</span>
                            </div>

                            <div class="d-flex">
                                <div>
                                    <img id="psycho-image" class="rounded-circle m-2" src="~/images//profile-preview/psychologist-profile-10.svg" width="150" height="150">
                                </div>
                                <div>
                                    <p class="m-0">Degree: <span id="psycho-degree"></span></p>
                                    <p class="m-0">Area of experetise: <span id="psycho-expertise-area"></span></p>
                                    <p class="m-0">Psycho work experience: <span id="psycho-experience"></span></p>
                                </div>
                            </div>

                            <div>
                                <p>Is <span>26</span> years old</p>
                            </div>

                            <div>
                                <p class="mb-0">
                                    <i id="psycho-like-like" class="far fa-heart" style="color: red; font-size: 26px;"></i> <span id="psycho-likes">29</span> likes
                                </p>
                            </div>
                        </div>

                    </div>
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#" onclick="changeCurrentPsychoPage('previous')">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#" onclick="changeCurrentPsychoPage('1')">1</a></li>
                                <li class="page-item"><a class="page-link" href="#" onclick="changeCurrentPsychoPage('2')">2</a></li>
                                <li class="page-item"><a class="page-link" href="#" onclick="changeCurrentPsychoPage('3')">3</a></li>
                                <li class="page-item"><a class="page-link" href="#" onclick="changeCurrentPsychoPage('next')">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<template id="template__">
    <div id="psycho-div" class="m-2 p-2" style="background-color: #fafafa">
        <div class="d-flex flex-column flex-md-row ">
            <div>
                <div>
                    <img id="psycho-image" src="" alt="profile-image" class="m-3 rounded-circle" style="border: 1px solid black;" width="200" height="200">
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row flex-md-wrap flex-lg-nowrap">
                <div class="m-3">
                    <p>Name: <span id="psycho-name"></span></p>
                    <p>Age: <span id="psycho-age"></span></p>
                    <p>Is psycho confirm his degree: <span id="psycho-confirm"></span></p>
                </div>
                <div class="m-3">
                    <div class="d-flex">
                        <p class="m-1">Psycho degree:</p>
                        <p class="m-1" id="psycho-degree"></p>
                    </div>
                    <div class="d-flex">
                        <p class="m-1">Area of experetise:</p>
                        <p class="m-1" id="psycho-expertise-area"></p>
                    </div>
                    <div class="d-flex">
                        <p class="m-1">Psycho work experience:</p>
                        <p class="m-1" id="psycho-experience"></p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <p>Number of likes: <span id="psycho-likes"></span></p>
            </div>
            <div id="psycho-like">
                <i id="psycho-like-like" class="far fa-heart" style="color: red; font-size: 20px;"></i>
            </div>
        </div>
    </div>
</template>

<template id="template">
    <div id="psycho-div" class="m-2 p-2" style="background-color: white">
        <div class="m-2 d-flex justify-content-between">
            <h5 id="psycho-name">tets@gmail.com</h5>
            
           <div id="psycho-status">
                <span class="badge badge-success p-2">Confirmed status</span>
            </div>
        </div>

        <div class="d-flex">
            <div>
                <img id="psycho-image" class="rounded-circle m-2" src="~/images//profile-preview/psychologist-profile-10.svg" width="150" height="150">
            </div>
            <div>
                <p class="m-0">Degree: <span id="psycho-degree"></span></p>
                <p class="m-0">Area of experetise: <span id="psycho-expertise-area"></span></p>
                <p class="m-0">Psycho work experience: <span id="psycho-experience"></span></p>
            </div>
        </div>

        <div>
            <p>Is <span id="psycho-age">26</span> years old</p>
        </div>

        <div>
            <p class="mb-0">
                <i id="psycho-like-like" class="far fa-heart" style="color: red; font-size: 26px;"></i> <span id="psycho-likes">29</span> likes
            </p>
        </div>
    </div>
</template>

<style>
    #psycho-like-like {
        transition: all 0.2s ease-in-out; 
    }

    #psycho-like-like:hover {
        transform: scale(1.5, 1.5);
        color: orange;
    }
</style>

<script>
    const webRoot = '@Model.WebRoot';
    const isPsycho = '@Model.IsUserPsycho';

    window.onload = function () {
        getPsychosProfiles();
    }

    //send to elastic search
    async function searchForPsycoProfiles(event) {
        event.preventDefault();

        let text = document.getElementById('search-text').value;

        if (text == '' || text == null || text == undefined) {
            document.getElementById('search-text').placeholder = 'field is empty';

            document.getElementById('search-text').classList.remove('gray-placeholder');
            document.getElementById('search-text').classList.add('red-placeholder');

            getPsychosProfiles();

            return;
        }

        document.getElementById('search-text').classList.remove('red-placeholder');
        document.getElementById('search-text').classList.add('gray-placeholder');

        await fetch(webRoot + '/api/search/full/psychologist/' + text, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => _displayElasticItems(data))
            .catch(error => console.error('Unable to get items.', error));
    }

    async function autocompleteForPsychoProfiles() {
        let text = document.getElementById('search-text').value;

        if (text == '' || text == null || text == undefined) {
            return;
        }

        await fetch(webRoot + '/api/search/autocomplete/psychologist/' + text, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => _displayAutocomplete(data))
            .catch(error => console.error('Unable to get items.', error));
    }

    function changeCurrentPsychoPage(button) {
        if (button == 'previous') {
            currentPsychoPage -= 10;

            if (currentPsychoPage < 0) {
                currentPsychoPage = 0;
            }
        }
        else if (button == '1') {
            currentPsychoPage = 0;
        }
        else if (button == '2') {
            currentPsychoPage = 11;
        }
        else if (button == '3') {
            currentPsychoPage = 21;
        }
        else if (button == 'next') {
            currentPsychoPage += 10;
        }

        getPsychosProfiles();
    }

    let currentPsychoPage = 0;
    async function getPsychosProfiles() {

        await fetch(webRoot + '/api/psychologists/part/' + currentPsychoPage + '/' + (currentPsychoPage + 10))
            .then(response => response.json())
            .then(data => _displayItems(data))
            .catch(error => console.error('Unable to get items.', error));
    }

    function addLikeToProfile(psychoId) {
        if (!isPsycho) {
            return;
        }

        fetch(webRoot + '/api/likes/add/' + psychoId, {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            }
        })
        .catch(error => console.error('Unable to add like.', error));
    }

    function removeLikeFromProfile(psychoId) {
        if (!isPsycho) {
            return;
        }

        fetch(webRoot + '/api/likes/remove/' + psychoId, {
            method: 'DELETE',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            }
        })
        .catch(error => console.error('Unable to add like.', error));
    }

    function _displayElasticItems(data) {
        let items = [];
        data.hits.hits.forEach(item => {
            items.push({
                id: item._source.id,
                nickName: item._source.nickName,
                education: item._source.education,
                areaOfExpertise: item._source.areaOfExpertise,
                isAccountActivated: item._source.isAccountActivated,
                avatarImage: null,
            })
        })

        _displayItems(items);
    }

    function _displayAutocomplete(data) {
        let input = document.getElementById('psychoResults');
        input.innerHTML = "";

        data.hits.hits.forEach(item => {
            let option = document.createElement('option');
            option.value = item._source.nickName;
            input.append(option);
        })
    }

    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max)) + 1;
    }


    function _displayItems(data) {
        const container = document.getElementById('psycho-container');
        container.innerHTML = '';

        data.forEach(item => {
            let newDiv = document.importNode(template.content, true);

            newDiv.getElementById('psycho-name').textContent = item.nickName;
            newDiv.getElementById('psycho-image').src = '../images/profile-preview/psychologist-profile-' + getRandomInt(9) + ".svg";
            //newDiv.getElementById('psycho-image').src = item.avatarImage == null ?  '../images/profile-preview/profile-preview-' + getRandomInt(9) + ".svg" : "data:image/png;base64," + item.avatarImage;
            newDiv.getElementById('psycho-age').textContent = item.age;
            newDiv.getElementById('psycho-degree').textContent = item.education;
            newDiv.getElementById('psycho-expertise-area').textContent = item.areaOfExpertise;
            newDiv.getElementById('psycho-experience').textContent = item.workExperience;
            newDiv.getElementById('psycho-likes').textContent = item.likes;

            if (item.isAccountActivated == 'true') {
                newDiv.getElementById('psycho-status').innerHTML = '<span class="badge badge-success p-2">Confirmed status</span>';
            }
            else {
                newDiv.getElementById('psycho-status').innerHTML = '<span class="badge badge-warning p-2">Status not confirmed</span>';
            }

            if (item.isCurrentUserSetLike) {
                newDiv.getElementById('psycho-like').innerHTML = '<i id="psycho-like-like" class="fas fa-heart" style="color: red; font-size: 20px;"></i>';
            }

            //add event listener for click on like
            newDiv.getElementById('psycho-like-like').addEventListener('click', function (element) {
                let container = document.getElementById('psycho-' + item.id);

                //there is already like
                if (element.target.classList.contains('fas')) {
                    removeLikeFromProfile(item.id);

                    container.querySelector('#psycho-like-like').classList.add('far');
                    container.querySelector('#psycho-like-like').classList.remove('fas');

                    let likes = parseInt(container.querySelector('#psycho-likes').innerHTML);
                    container.querySelector('#psycho-likes').innerHTML = likes - 1;
                }
                else {
                    addLikeToProfile(item.id);

                    container.querySelector('#psycho-like-like').classList.add('fas');
                    container.querySelector('#psycho-like-like').classList.remove('far');

                    let likes = parseInt(container.querySelector('#psycho-likes').innerHTML);
                    container.querySelector('#psycho-likes').innerHTML = likes + 1;
                }
            });

            //to get access to element
            newDiv.getElementById('psycho-div').setAttribute('id', 'psycho-' + item.id);

            container.append(newDiv);
        });
    }

</script>
