@page
@model TWHelp.Areas.Profiles.Pages.Psychologists.IndexModel
@{
}


<h1>Psychos page</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-sm-8 col-md-6 mx-auto">
            <p class="font-weight-bold">List of all psychologists</p>
            <div class="d-flex flex-column" id="psycho-container">

            </div>
        </div>
    </div>
</div>

<template id="template">
    <div class="m-2 p-2" style="background-color: lightcyan">
        <p>Name: <span id="psycho-name"></span></p>
        <p>Age: <span id="psycho-age"></span></p>
        <p>Is psycho confirm his degree: <span id="psycho-confirm"></span></p>
        <div >
            <img id="psycho-image" src="" alt="profile-image" class="rounded-circle" width="200" height="200">
        </div>
        <div>
            <p>Psycho degree:</p>
            <p id="psycho-degree"></p>
        </div>
        <div>
            <p>Area of experetise:</p>
            <p id="psycho-expertise-area"></p>
        </div>
        <div>
            <p>Psycho work experience:</p>
            <p id="psycho-experience"></p>
        </div>
        <div>
            <p>Number of likes: <span id="psycho-likes"></span></p>
        </div>
    </div>
</template>

@*//https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-javascript?view=aspnetcore-3.0
    //https://learn.javascript.ru/fetch*@

<script>
    const webRoot = 'http://' + '@Model.WebRoot';

    window.onload = function () {
        getPsychosProfiles();
    }

    async function getPsychosProfiles() {
        await fetch(webRoot + '/api/psychologists/all')
            .then(response => response.json())
            .then(data => _displayItems(data))
            .catch(error => console.error('Unable to get items.', error));
    }

    function addLikeToProfile() {
        const psychoId = document.getElementById('psycho-id').value;

        const data = {
            psychoId: psychoId
        }

        fetch('api/psychologists/all', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .catch(error => console.error('Unable to add like.', error));
    }

    function _displayItems(data) {
        const container = document.getElementById('psycho-container');
        container.innerHTML = '';

        data.forEach(item => {
            let newDiv = template.content.cloneNode(true);

            newDiv.getElementById('psycho-name').textContent = item.nickName;
            newDiv.getElementById('psycho-image').src = "data:image/png;base64," + item.avatarImage;
            newDiv.getElementById('psycho-age').textContent = item.age;
            newDiv.getElementById('psycho-degree').textContent = item.education;
            newDiv.getElementById('psycho-expertise-area').textContent = item.areaOfExpertise;
            newDiv.getElementById('psycho-experience').textContent = item.workExperience;
            newDiv.getElementById('psycho-likes').textContent = item.likes;

            if (item.isAccountActivated == 'true') {
                newDiv.getElementById('psycho-confirm').textContent = 'yes';
            }
            else {
                newDiv.getElementById('psycho-confirm').textContent = 'no';
            }

            container.append(newDiv);
        });
    }

</script>
