@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align:center; width: 70%; position:absolute; height: 85%; margin-bottom: 0%; background: #f2f2f2;">
    <h1 class="display-4">Welcome</h1>

    <p>Check your mental condition <a href="https://docs.microsoft.com/aspnet/core">here</a>.</p>
</div>
