@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="text-align:center; width: 70%; position:absolute; height: 84%; margin-bottom: 0%; background: #f2f2f2;">

    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>
