
@{
    ViewData["Title"] = "Tests";
}


@if (User.Identity.IsAuthenticated)
{
    <form method="get" action="CreateTest">

        <button type="submit" style="margin-left:75%; top:82px; width:120px;
         z-index:1;" class="position-absolute btn btn-primary text-center">
            Create test
        </button>
    </form>
}

    <div style="background: #f2f2f2; z-index:-1;" class="mx-auto">

        @for (int i = 0; i < 3; i++)
        {

            <div style="width:90%; padding:2% ;" class="mx-auto">


                <div style=" width: 100%; " class="row text-left border border-dark mb-1 bg-white">

                    <div class="col-10 text-justify mt-1">

                        <h3 id="" onclick="">Тест на психическое состояние #@(i + 1)</h3>


                        <p class="" style="white-space: normal;">Тест на психическое состояние. Не чувствуете ли вы какого либо душевного расстройства, которое начинает угнетать вашу нервную систему? Если вы стали довольно раздражительны или, наоборот, у вас постоянная апатия, то стоит задуматься над своим психическим состоянием. А поможет вам в этом данный тест. Выберите один из предложенных на каждый вопрос ответов.</p>


                    </div>
                    <div class="col-2 text-center my-auto" style="">
                        @*<img src='@Url.Action("getImgAsync", "Home") ' alt="" style="border-radius: 100px; border:1px solid black; width:130px; height:130px">*@
                        <button type="button" class="btn  rounded-circle" style="background-color:#f2f2f2 ;width:130px; height:130px"><h1><i class="">45</i></h1></button>
                    </div>

                </div>

            </div>
        }
    </div>
