
@{
    ViewData["Title"] = "TestView";
}

<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src='https://embed.playbuzz.com/sdk.js';fjs.parentNode.insertBefore(js,fjs);}(document,'script','playbuzz-sdk'));</script>
<div class="playbuzz" data-id="a77056b2-3712-4a09-8b56-59523262c8d8" data-show-share="false" data-show-info="false"></div>

