
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole<long>>

<h2>Roles list</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete role
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="CreateNewRole" class="btn btn-primary">Add role</a>
<a asp-action="UserList" class="btn btn-primary">User list</a>