@page
@model TWHelp.Areas.Home.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

@section Header {
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
}

<style>
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Varela Round', sans-serif;
    }

    .page-background-image {
        background-image: url('../images/index-background.svg'); 
        background-repeat: no-repeat; 
        background-size: 50% 100%; 
        background-position: right;
        background-attachment: fixed;
    }
</style>

<div class="container-fluid p-0" style="min-height: 670px;">
    <div class="row page-background-image mh-100 p-0" style="min-height: 670px;  background-color: lightcoral">
        <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="my-5 py-5">
                <div>
                    <h2>TWHelp</h2>
                    <h2>Psychological help is closer than you think.</h2>
                </div>
            </div>

            <div class="my-5 py-5">
                <div>
                    <a class="btn btn-warning" asp-area="Analytics" asp-page="/Index">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>
